doctype html
table
	thead
		tr
			td
				ca-checkbox.pl-2([(state)]="checkboxState")
			td Placa
			td Modelo
			td Marca
			td Foto
			td Combustível
			td valor
	tbody
		tr(*ngFor="let item of data | slice:start:end", [ngClass]="activeClass(item.check)")
			td
				ca-checkbox.pl-2([(state)]="item.check")
			td {{ item.placa }}
			td {{ item.modelo }}
			td {{ item.marca }}
			td
				span(*ngIf="item.imagem === null; else imagem") Sem foto
				ng-template(#imagem)
					a(
						class="titles-link", 
						*ngIf="item.imagem !== null",
						(click)="open(item.imagem)"
					) Imagem
				
			td {{ item.combustivel }}
			td {{ item.valor }}

ca-pagination.mt-6(
	[offset]="offset",
	[(start)]="start", 
	[(end)]="end", 
	[max]="data.length",
	(callback)="resetSelection()"
)
