doctype html
#circle(#circle)
#leaf-wrapper
	img(src="assets/leaf-left.png", #left, id="left")
	img(src="assets/leaf-right.png", #right, id="right")
	
#text-wrapper
	img(src="assets/conta-animation.png", #contaAnimation, id="conta-animation")
	img(src="assets/azul-animation.png", #azulAnimation, id="azul-animation")