/* ==========================================================================
	-- Dashboard Style
========================================================================== */

@import $stylus + 'colors'

dashboard
	display flex
	justify-content center

	& > .content
		display flex
		flex-direction column

		& > header
			width 100%
			display flex
			justify-content space-between

		ca-message
			align-self flex-start

			b
				color $colors-blue-primary
