/* ==========================================================================
   -- Colors
   ========================================================================== */

// Blue Shades
$colors-blue-primary                = #2687e9
$colors-blue-foreground             = #f1f4f9
$colors-blue-light                  = #f8fafc
$colors-blue-soft-dark              = #416281
$colors-blue-table-hover-bg         = #d8e9fb
$colors-blue-table-hover-border     = #8bc8f6
$colors-blue-bucket-primary         = #0747a6
$colors-blue-bucket-secondary       = #073d8d
$colors-blue-bucket-third           = #0052CC
$colors-blue-light-sky              = #0065CA
$colors-blue-light-sky-border       = #1773d0
$colors-blue-swimming-pool          = #00E0FF

// Green shades
$colors-green-primary               = #4aba58

// Red shades
$colors-red-primary                 = #b54949

// Orange shades
$colors-orange-soft                 = #fffaeb

// Gray shades
$colors-gray-search-border          = #c9d3dd
$colors-gray-search-text            = #e7e9ea
$colors-gray-message                = #a1a1a1