/* ==========================================================================
	-- CA Message Style
========================================================================== */

@import $stylus + 'colors'

ca-message
	display flex
	flex-direction column
	justify-content flex-start

	hr
		height 2px
		width 56px
		border 0
		border-top 2px solid $colors-green-primary
		margin 30px 0