/* ==========================================================================
	-- App Style
========================================================================== */

@import $stylus + 'reset'
@import $stylus + 'spacing'
@import $stylus + 'buttons'
@import $stylus + 'titles'

app
	display flex
	flex-direction column
	height 100%