/* ==========================================================================
	-- CA Header Style
========================================================================== */

@import $stylus + 'colors'

ca-header
	display flex
	justify-content center
	height 50px
	background $colors-blue-primary

	.content
		justify-content flex-start